In [1]:
import numpy as np

In [2]:
El_dict = { "X" :None, 
            "SX":None, 
            "Y" :None, 
            "SY":None}

Sl_dict = { "X" :None,
            "SX":None,
            "Y" :None,
            "SY":None}

def Rotura(layers,E_eff,El,sigmal):

    El_dict["X"]  = El[0]
    El_dict["SX"] = El[1]
    El_dict["Y"]  = El[2]
    El_dict["SY"] = El[3]

    El_s = np.array([ El_dict[ily] for ily in layers] )


    Sl_dict["X"]  = sigmal[0]
    Sl_dict["SX"] = sigmal[1]
    Sl_dict["Y"]  = sigmal[2]
    Sl_dict["SY"] = sigmal[3]

    Sl_s = np.array([ Sl_dict[ily] for ily in layers] )

    return E_eff*np.min(Sl_s/El_s)

In [3]:
composition = [
        ["Y", "Y"],
        ["Y", "X"],
        ["Y", "SX"],
        ["Y", "SY"],
        ["Y", "SX" , "SY"],
        ["Y", "X"  , "SY"]
    ]

In [4]:
import pandas as pd

In [5]:
df_pred = pd.read_csv("df_pred.csv")
df_opt = pd.read_csv("df_opt.csv")

In [6]:
df_pred

   Name    t [mm]  Et [GPa]  Eb [GPa]        Vc
0  TFP1  4.726522  3.087119  4.768723  0.173492
1  TFP2  4.726522  2.082566  2.455439  0.173492
2  TFP3  4.726522  1.943916  2.136157  0.136315
3  TFP4  4.726522  2.003145  2.272549  0.136315
4  TFP5  5.926522  1.760267  1.594509  0.148246
5  TFP6  5.926522  1.870843  1.756466  0.177895

In [7]:
df_opt

  Variable         x unit
0        r  0.305321   mm
1       tn  2.326522   mm
2       tl  0.600000   mm
3       En  0.797711  GPa
4       EX  1.349734  GPa
5      ESX  0.803624  GPa
6       EY  5.306436  GPa
7      ESY  1.036913  GPa

In [8]:
sigmal = [102,70,279,150]
# El     = [1440,1000,2885,2000]
El = df_opt[4:]["x"].values*1e3
E_eff_exp = [ 2885.5 , 2162.75 , 1942.75, 2442.75 , 1626, 1739.8]

[ Rotura(c,E_eff_exp[i],El,sigmal) for i,c in enumerate(composition)]

[np.float64(151.71285019887162),
 np.float64(113.71234336080734),
 np.float64(102.14525722538826),
 np.float64(128.43408935134073),
 np.float64(85.49128207359739),
 np.float64(91.47462026546415)]

In [9]:
sigmal = [102,70,279,150]
El     = [1440,1000,2885,2000]
# El = df_opt[4:]["x"].values
E_eff_exp = [ 2885.5 , 2162.75 , 1942.75, 2442.75 , 1626, 1739.8]

[ Rotura(c,E_eff_exp[i],El,sigmal) for i,c in enumerate(composition)]

[np.float64(279.0483535528596),
 np.float64(153.19479166666667),
 np.float64(135.9925),
 np.float64(183.20624999999998),
 np.float64(113.82000000000001),
 np.float64(123.23583333333333)]