In [1]:
import glob,os
import pandas as pd
from loadsavejson.loadjson import loadjson

In [2]:
csv = glob.glob('*/*.json')
csv
names = [ iname.replace(os.sep,'_').replace('.json','').replace('df_opt_','').replace('_thin','')
          for iname in csv]
names

['ALL_TFP_fix', 'ALL_TFP_free', 'NO_TFP1_1_fix', 'NO_TFP1_1_free']

In [3]:
dfs = [loadjson(f) for f in csv ]

In [4]:
dfs[-1]

{'layers':      Evec [GPa]
 0  2.946499e-01
 1  3.261740e-08
 2  7.357325e+00
 3  5.123737e-01
 4  7.752059e-01,
 'errors': {'E': 7.2620000000000005, 't': 2.89},
 'thickness':     t [mm]
 0  2.51460
 1  1.04921}

In [5]:
dfs[0]["errors"]

{'E': 7.881666666666665, 't': 6.103333333333333}

In [6]:
dfs[0].keys()

dict_keys(['layers', 'errors', 'thickness'])

In [7]:
error_E = [idf["errors"]["E"] for idf in dfs]
error_t = [idf["errors"]["t"] for idf in dfs]

In [8]:
error_E

[7.881666666666665, 8.648333333333333, 7.859999999999999, 7.2620000000000005]

In [9]:
Emodulus = [ ids["layers"] for ids in dfs]
Emodulus = pd.concat(Emodulus, axis=1)
Emodulus.columns = names
# names rows X,Y,SX,SY
Emodulus.index = ['X','SX','Y','SY','nucleo']
Emodulus.round(2)

        ALL_TFP_fix  ALL_TFP_free  NO_TFP1_1_fix  NO_TFP1_1_free
X              0.00          0.00           0.52            0.29
SX             0.00          0.00           0.00            0.00
Y             17.41          9.45           1.69            7.36
SY             0.00          0.00           0.84            0.51
nucleo         0.84          0.80           3.25            0.78

In [10]:
Thick = [ ids["thickness"] for ids in dfs]
Thick = pd.concat(Thick, axis=1)
Thick.columns = names
# names rows X,Y,SX,SY
Thick.index = ["Nucleo","Capas"]

Thick.round(2)

        ALL_TFP_fix  ALL_TFP_free  NO_TFP1_1_fix  NO_TFP1_1_free
Nucleo         2.90          3.07           2.78            2.51
Capas          0.46          0.86           0.48            1.05

In [11]:
All = pd.concat([Emodulus, Thick], axis=0)
# index off

All.index = [None]*len(All)
All.round(0)

      ALL_TFP_fix  ALL_TFP_free  NO_TFP1_1_fix  NO_TFP1_1_free
None          0.0           0.0            1.0             0.0
None          0.0           0.0            0.0             0.0
None         17.0           9.0            2.0             7.0
None          0.0           0.0            1.0             1.0
None          1.0           1.0            3.0             1.0
None          3.0           3.0            3.0             3.0
None          0.0           1.0            0.0             1.0

In [12]:
dfs[0]
import numpy as np

def getparams(df):
    return np.concatenate([df['layers']["Evec [GPa]"].values , df['thickness']["t [mm]"].values])

In [13]:
dfs[0]["layers"]["Evec [GPa]"]

0    0.000000e+00
1    0.000000e+00
2    1.741473e+01
3    1.569338e-14
4    8.351411e-01
Name: Evec [GPa], dtype: float64